<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<header>
				<h3 style="text-align: left; width:25%; display: inline-block;">David Kern</h3>
				<nav style="text-align: right; width:74%;  display: inline-block;">
					<ul>
	        			<li><a href="/">Home</a></li>
		        		<li><a href="/writings">Writings</a></li>
	        			<li><a href="/talks">Talks</a></li>
	        			<li><a href="/teaching">Teaching</a></li>
	    			</ul>
				</nav>
			</header>
			<div><!--<div class="container">-->
			
			<h1>{{ page.title }}</h1>	
			
			{{ content }}
			
			</div>
			<footer>
	    		<ul>
	        		<li><a href="mailto:kern@math..univ-angers...fr">email</a></li>
				</ul>
			</footer>
		</body>
	</html>
