<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<header class="w3-container w3-light-green">
				<span style="float:left;"><h3>David Kern</h3></span>	
				<span style="float:right;">
				<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/writings">Writings</a></li>
	        		<li><a href="/talks">Talks</a></li>
	        		<li><a href="/teaching">Teaching</a></li>
	    		</ul>
				</nav>
				</span>
			</header>
			<div class="w3-container">
			
			<h1>{{ page.title }}</h1>	
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:kern@math..univ-angers...fr">email</a></li>
				</ul>
			</footer>
		</body>
	</html>
