<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<div align="left">
				David Kern
			</div>
			<div align="right">
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/writings">Writings</a></li>
	        		<li><a href="/talks">Talks</a></li>
	        		<li><a href="/teaching">Teaching</a></li>
	    		</ul>
			</nav>
			</div>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:kern@math..univ-angers...fr">email</a></li>
				</ul>
			</footer>
		</body>
	</html>
